{%extends 'pages/base.html'%}
{%load static%}
{% block body %}

    <div id="details-container">
        <div id="details-container-inner">
            <div id="details-top">

                <div id="details-top-left">
                    <div id="back-btn-container" onclick="goBack()">
                        <img src="{% static 'icons/back.png' %}" width="100%"/>
                    </div>
                    <div id="student-name">Emmanuel Attah</div>
                </div>

                <div id="details-top-right">
                    <div class="page-btn ASCG" onclick="">DOWNLOAD</div>
                </div>

            </div>

            <div id="details-body">
                <div id="info-container">
                    <div class="details-heading-container">
                        <div class="details-heading">Info</div>
                    </div>
                    <div id="info-inner-container">
                        <div class="info-field">
                            <div class="info-field-label">First Name : </div>
                            <div class="info-field-value">Emmanuel</div>
                        </div>
                        <div class="info-field">
                            <div class="info-field-label">Last Name : </div>
                            <div class="info-field-value">Attah-azuzu</div>
                        </div>
                        <div class="info-field">
                            <div class="info-field-label">Date Of Birth : </div>
                            <div class="info-field-value">03-06-2000</div>
                        </div>
                        <div class="info-field">
                            <div class="info-field-label">Parents Name : </div>
                            <div class="info-field-value">Mr and Mrs Attah-azuzu</div>
                        </div>
                        <div class="info-field">
                            <div class="info-field-label">Best Subjects : </div>
                            <div class="info-field-value">Physics</div>
                        </div>
                        <div class="info-field">
                            <div class="info-field-label">Worst Subject : </div>
                            <div class="info-field-value">Chemistry</div>
                        </div>
                        <div class="info-field">
                            <div class="info-field-label">Class : </div>
                            <div class="info-field-value">SS3 [Science]</div>
                        </div>
                        <div class="info-field">
                            <div class="info-field-label">Name Of School : </div>
                            <div class="info-field-value">Government Secondary School Wuse Zone 3</div>
                        </div>
                    </div>

                    <div class="details-heading">Contact</div>
                    <div id="info-inner-container">
                        <div class="info-field">
                            <div class="info-field-label">Phone Number : </div>
                            <div class="info-field-value">+234 9045 5444</div>
                        </div>
                        <div class="info-field">
                            <div class="info-field-label">Email Address : </div>
                            <div class="info-field-value">John@Doe.com</div>
                        </div>
                        <div class="info-field">
                            <div class="info-field-label">Parent Email Address : </div>
                            <div class="info-field-value">John@Doe.com</div>
                        </div>
                        <div class="info-field">
                            <div class="info-field-label">House Address : </div>
                            <div class="info-field-value">Government Secondary School Wuse Zone 3</div>
                        </div>
                    </div>


                    <div class="details-heading">Socials</div>
                    <div id="info-inner-container">
                        <div class="info-field">
                            <div class="info-field-label">Twitter Handle : </div>
                            <div class="info-field-value">Nil</div>
                        </div>
                        <div class="info-field">
                            <div class="info-field-label">Facebook Handle : </div>
                            <div class="info-field-value">Nil</div>
                        </div>
                    </div>

                    <!-- <div id="student-btn">
                        <div class="page-btn ASCG" onclick="">EDIT STUDENT PROFILE</div>
                        <div class="page-btn CBC" onclick="">DELETE STUDENT PROFILE</div>
                    </div> -->

                </div>
                <div id="details-info-right">
                    {% if show_grades %}
                    <div id="grades-container">

                        <div class="details-heading-container">
                            <div class="details-heading">
                                Grades
                                <span id="grade-year">
                                    <input placeholder="Lastest" id="year-val" value="{{year_val}}">
                                    <div class="icon-container" onclick="">
                                        <img src="{% static 'icons/filter.png'%}" width="100%"/>
                                    </div>
                                </span>
                            </div>
                            <div class="page-btn download-details" onclick="open_secodary_sidebar('grade-form')">Edit</div>
                        </div>
                 
                        <div id="grade-container">
                            
                            <div class="grade">
                                <div class="subject">Physics</div>
                                <div class="subject-grade-contaner">
                                    <div class="subject-grade">A</div>
                                    <div class="grade-progress">
                                        <div class="caret-container">
                                            <img src="{% static 'icons/caret-up-green-icon.svg'%}" width="100%"/>
                                        </div>
                                        <div class="caret-container">
                                            <img id="red" src="{% static 'icons/caret-down-icon.svg'%}" width="100%"/>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="grade">
                                <div class="subject">Chemistry</div>
                                <div class="subject-grade-contaner">
                                    <div class="subject-grade">B</div>
                                    <div class="grade-progress">
                                        <div class="caret-container">
                                            <img src="{% static 'icons/caret-up-icon.svg'%}" width="100%"/>
                                        </div>
                                        <div class="caret-container">
                                            <img id="red" src="{% static 'icons/caret-down-red-icon.svg'%}" width="100%"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grade">
                                <div class="subject">Biology</div>
                                <div class="subject-grade-contaner">
                                    <div class="subject-grade">C</div>
                                    <div class="grade-progress">
                                        <div class="caret-container">
                                            <img src="{% static 'icons/caret-up-icon.svg'%}" width="100%"/>
                                        </div>
                                        <div class="caret-container">
                                            <img id="red" src="{% static 'icons/caret-down-icon.svg'%}" width="100%"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grade">
                                <div class="subject">Mathematics</div>
                                <div class="subject-grade-contaner">
                                    <div class="subject-grade">D</div>
                                    <div class="grade-progress">
                                        <div class="caret-container">
                                            <img src="{% static 'icons/caret-up-icon.svg'%}" width="100%"/>
                                        </div>
                                        <div class="caret-container">
                                            <img id="red" src="{% static 'icons/caret-down-icon.svg'%}" width="100%"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if show_programs %}
                    <div id="our-programs-container">
                        <div class="details-heading-container">
                            {% if programs_voluntered_for %}
                                <div class="details-heading">Programs Volunteered For</div>
                            {% else %}
                                <div class="details-heading">Programs Attended</div>
                            {% endif %}
                            <div class="page-btn download-details" onclick="open_secodary_sidebar('program-form')">Add</div>
                        </div>
                        
                        <div id="details-program-container">
                            <div class="details-program">
                                <div class="program-row">
                                    <div class="program-name">ASCG - <i>Phase 1</i></div>
                                    <div class="program-duration">FEB - MAR 2024</div>
                                </div>
                                <div class="program-row">
                                    <div class="theme">Mobile App developtment</div>
                                    <div class="page-btn download-details program-btn"  onclick="">REMOVE</div>
                                </div>
                            </div>
                            <div class="details-program">
                                <div class="program-row">
                                    <div class="program-name">CBC - <i>Cohort 1</i></div>
                                    <div class="program-duration">FEB - MAR 2024</div>
                                </div>
                                <div class="program-row">
                                    <div class="theme">Full Stack Web Developtment</div>
                                    <div class="page-btn download-details program-btn"  onclick="">REMOVE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if show_emergency_contacts %}
                    <div class="details-heading">Emergency Contacts</div>
                    <div id="details-program-container">
                        <div class="details-program">
                            <div class="info-field">
                                <div class="info-field-label">Name : </div>
                                <div class="info-field-value">John Doe (Next Of Kin)</div>
                            </div>
                            <div class="info-field">
                                <div class="info-field-label">Relation : </div>
                                <div class="info-field-value">Brother</div>
                            </div>
                            <div class="info-field">
                                <div class="info-field-label">Contact : </div>
                                <div class="info-field-value">+234 9876 675</div>
                            </div>
                            <div class="contact-btn">
                                <div class="page-btn download-details" onclick="open_secodary_sidebar('contact-form')">EDIT</div>
                                <div class="page-btn download-details"  onclick="">REMOVE</div>
                            </div>
                            
                        </div>

                        <div class="details-program">
                            <div class="info-field">
                                <div class="info-field-label">Name : </div>
                                <div class="info-field-value">James Doe</div>
                            </div>
                            <div class="info-field">
                                <div class="info-field-label">Relation : </div>
                                <div class="info-field-value">Brother</div>
                            </div>
                            <div class="info-field">
                                <div class="info-field-label">Contact : </div>
                                <div class="info-field-value">+234 9876 675</div>
                            </div>
                            <div class="contact-btn">
                                <div class="page-btn download-details" onclick="open_secodary_sidebar('contact-form')">EDIT</div>
                                <div class="page-btn download-details"  onclick="">REMOVE</div>
                            </div>
                        </div>

                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}